@font-face {
    font-family: 'AppleFont'; /* 원하는 이름 */
    src: url('/AppleSDGothicNeoUL.ttf') format('truetype');
  }

  body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f4f4f4;
  }
  #addRowButton {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  #addRowButton:hover {
    background-color: #218838;
  }